[Unit]
Description=Startingservernode
After=mysql.service
[Service]
ExecStart=/bin/bash /home/nest/nestui/django.sh

[Install]
WantedBy=multi-user.target

